body {
    margin: 0;
    padding: 0;
}

.masthead {
    padding: 2em 2em;
    background: #0D1B2E;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

.intro p,
.test-area {
    max-width: 550px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.intro {
    padding: 2em 2em;
    background: #429890;
    color: white;
    margin: 0;
}

#originText {
    padding: 1em 1em;
    background: aliceblue;
    margin: 1em 0;
}

.test-wrapper {
    height: 200%;
    display: flex;
}

#test-area {
    flex: 1;
    border: 10px solid gray;
    border-radius: 10px;
}

.meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    flex-wrap: wrap;
}

#reset {
    border: 10px solid orangered;
    color: orangered;
    padding: 20px
}

.timer {
    font-size: 50px;
    font-weight: bold;
}





