body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
}

.masthead {
    padding: 2em 2em;
    background: #0D1B2E;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

.intro p,
.test-area, .textSelection {
    max-width: 550px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
}

.intro {
    padding: 2em 2em;
    background: #429890;
    color: white;
    margin: 0;
}

#origin-text {
    padding: 0.4em 1em;
    background: aliceblue;
    margin: 1em 0;
}

.test-wrapper {
    display: flex;
}

.textArea {
    height: 200px;
    flex: 1;
    border: 15px solid gray;
    border-radius: 10px;
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

#clockResetSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0.2em;
    flex-wrap: wrap;
}

#reset {
    border: 10px solid orangered;
    color: orangered;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.timer, .count, .timerSection {
    font-size: 50px;
    font-weight: bold;
}

#reset:hover {
    color: white;
    background: orangered;
}

.textArea::placeholder {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 1em;
}

.count, .timerSection {
    display: flex;
    flex-direction: column;
}

#errorHeader, #timerHeader {
    font-size: 15px;
    flex-direction: row;
    text-decoration: underline;
}

.separator {
    border-left: 2px solid #429890;
    opacity: 50%;
}

.textSelection {
    max-width: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.textSelection button {
    margin: 1em 0.3em;
    padding: 0.3em;
    border: solid #429890 5px;
    border-radius: 5%;
    font-size: 17px;
    font-weight: bold;
    min-width: 140px;
    min-height: 90px;
}

.textSelection button:hover:enabled {
    background-color: #429890;
    color: white;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
}


.textSelection button:focus {
    /*border: solid orangered 7px;*/
    box-shadow: 0 0 5px #fff;
    background-color: #429890;
    color: white;
}

#typingHighlight {
    background-color: rgba(236, 84, 40, 0.5);
    transition-property: background-color;
    transition-delay: 2s;
}

.selectedButtonWhileTyping {
    background-color: #429890;
    color: white;
}

.typeWithoutSelectingButton {
    color: red;
    font-size: 20px;
    transition: 1s ease;
}
/* 
.normalButton {
    background-color: rgb(239, 239, 239);
    color: black;
} */

#typingError {
    color: blue;
    text-decoration: line-through;   
}

